.expense-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
}