/* Utility classes */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    border-radius: 12px;
}

.expense-item__left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.expense-price {
    border: 1px solid #ccc;
    height: 2rem;
    width: 100px;
    border-radius: 1rem;
    font-weight: bold;
    color: #f00;
}