.expenseFilter {
    display: flex;
    justify-content: space-between;
}

.expense-filter__label {
    font-size: 1.5rem;
}

.expense-filter__year {
    padding: 0.5rem;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font: inherit;
    color: #333;
    border-radius: 6px;
    margin-bottom: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .expenseFilter {
        margin-top: 0.3rem;
    }
}