.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__wrapper {
    gap: 2rem;
    justify-content: space-between;
}

.form__container {
    gap: 2rem;
}

.form__input {
    width: 100%;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.form__submit-button {
    padding: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.form__submit-button:hover {
    background-color: #43a047;
}