.newExpense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
    width: 60%;
    border: 1px solid #ccc;
}

.newExpense__button {
    width: 100%;
    text-align: center;
    font: inherit;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    border-radius: 6px;
}

.image_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.crossImage {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .newExpense {
        font-size: 0.6rem;
    }

    input::placeholder {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 750px) {
    .newExpense {
        margin: 0.1rem;
        width: auto;
    }
}